.slideshow {
    width: 100%;
    height: 415px;
    position: relative;
    margin-bottom: 30px;
}

.slide_img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.fleche_prev {
    position: absolute;
    top: 38%;
    left: 2%;
}

.fleche_prevDisabled {
    display: none;
}

.slideIndex {
    color: #ffffff;
    position: absolute;
    bottom: 7%;
    left: 49%;
}

.slideIndexDisabled {
    display: none;
}

.fleche_next {
    position: absolute;
    top: 38%;
    right: 2%;
}

.fleche_nextDisabled {
    display: none;
}

/*---------------------------------------- MEDIAQUERIES ----------------------------------------*/
/*-------------------------mobile-------------------------*/

@media screen and (max-width:768px) {

    .slideshow {
        height: 255px;
        margin-bottom: 20px;
    }

    .slide_img {
        width: 100%;
        height: 255px;
        border-radius: 10px;
    }

    .fleche_prev {
        top: 46%;
        width: 12px;
        height: 20px;
    }

    .slideIndex {
        display: none;
    }

    .fleche_next {
        top: 46%;
        width: 12px;
        height: 20px;
    }
}