.tag {
    background-color: #ff6060;
    color: #ffffff;
    height: 25px;
    min-width: 115px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
}

/*---------------------------------------- MEDIAQUERIES ----------------------------------------*/
/*-------------------------mobile-------------------------*/

@media screen and (max-width:768px) {

    .tag {
        height: 18px;
        min-width: 84px;
        border-radius: 5px;
        font-size: 10px;
        margin-top: 5px; 
    }    
}