.logement_presentation {
    display: flex;
}

.presentation_left {
    width: 78%;
}

.logement_title {
    color: #ff6060;
    font-weight: 500;
    font-size: 36px;
}

.logement_location {
    color: #ff6060;
    font-size: 18px;
}

.logement_tags {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}
/*-----------------------*/

.presentation_right {
    min-width: 22%;
}

.logement_host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logement_hostName {
    width : min-content;
    color: #ff6060;
    text-align: end;
    font-size: 18px;
}

.logement_hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 10px;
}
/*-----------------------*/

.logement_collapses {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.collapse_description {
    width: 47%;
}

.collapse_equipment {
    width: 47%;
}

/*---------------------------------------- MEDIAQUERIES ----------------------------------------*/
/*-------------------------mobile-------------------------*/

@media screen and (max-width:768px) {

    .logement_presentation {
        display: unset;
    }

    .presentation_left {
        width: 100%;
    }

    .logement_title {
        font-size: 18px;
    }

    .logement_location {
        font-size: 14px;
    }

    .logement_tags {
        margin-top: 5px;
        margin-bottom: 15px; 
    }
/*-----------------------*/

    .presentation_right {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    .logement_host {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .logement_hostName {
        font-size: 12px;
    }

    .logement_hostPicture {
        width: 32px;
        height: 32px;
    }
/*-----------------------*/

    .logement_collapses {
        display: unset;
        justify-content: unset;
    
    }

    .collapse_description {
        width: 100%;
    }

    .collapse_equipment {
        width: 100%;    
        margin-bottom: 75px;
    }
}